
<div class="error-container text-center mt-5">
    <h1 class="error-title blue">Error!</h1>
    <p class="error-text">
        Please make sure the spelling is correct. Also, make sure to fill out the first 
        name AND last name fields.
    </p>
    <a href="/" class="btn btn-primary">Return</a> 
</div>