/* index page */

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #f0c808;
    background: #FFF1D0;
}

.blue {
    color: #07a0c3;
}

.title span {
    display: inline-block;
}

.title h1 {
    font-size: 60px;
}

input[type=text] {
    margin: 10px;
}

img {
    border-radius: 50%;
    border: 3px solid #086788;
    margin: 10px;
}

.container {
    text-align: center;
}

.player-stats {
    border: 2px solid #086788;
    width: 80%;
    margin: 0 auto;
}

.stat-container {
    display: inline-block;
    margin: 10px;
    margin-left: 5px;
    padding: 10px;
    border-right: 2px solid #F0C808;
}

.stat-container:last-child {
    border: none;
}

.stat-title p {
    color: #086788;
}

.stat-value {
    color: #07A0C3;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .stat-container {
        display: block;
        border: none;
    }
    .player-stats {
        width: 40%;
    }
}

@media only screen and (max-width: 600px) {
    img {
        width: 80%;
    }
    .form-container {
        display: block;
        text-align: center;
    }
    #search-btn {
        width: 50%
    }
}


/* error page */

.error-title {
    font-size: 60px;
}

.error-text {
    color: #086788;
}